@import 'leaflet/dist/leaflet.css';
#map {
  height: 100%; /* Ocupa toda la altura de la ventana */
  width: 100%;   /* Ocupa todo el ancho del contenedor */
  position: relative; /* Asegura que no esté oculto por otros elementos */
}

