<div id="map" style="height: 900px; width: 900px; position: relative; display: none;"></div>
<button (click)="toggleSelection()"
        [ngStyle]="{
    'position': 'absolute',
    'top': '10px',
    'right': '10px',
    'z-index': '1000',
    'background-color': '#598ece',
    'border-radius': '20px',
    'box-shadow': '0px 5px 10px 0px rgba(0, 0, 0, 0.5)',
    'width': isMobile ? '40px' : '64px',
    'height': isMobile ? '40px' : '64px',
    'background-image': 'url(' + currentIcon.options.iconUrl + ')',
    'background-size': 'contain',
    'background-repeat': 'no-repeat',
    'background-position': 'center'
  }"> </button>
<button (click)="switchCamera()">Cambiar Cámara</button>
<video id="camera" autoplay playsinline></video>
<button (click)="captureOrientation()">Capturar Orientación</button>

